html, body {
  height: 100%;
  width: 100%;
  background: #000;
  font-family: "Montserrat", sans-serif;
}
ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #fff !important;
}
a:hover{
  color: #4cd964 !important;
}
.tag1{
  height: 30px;
  background: linear-gradient(90deg, rgb(230, 70, 182), rgb(255, 102, 102));
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/* Customized navbar components */

nav{
  height: 70px;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.644); */
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
/*   background-color: rgba(0, 0, 0, 0) !important; */
  background-color: #000 !important;
/*   padding-left: 100px; */
}

.navbar-brand{
  color: #fff !important;
  font-size: 24px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px; 
  margin-left: 160px;
  margin-right: 0px;
}


.nav-link{
  color: #fff !important;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}
.nav-link:hover {
  opacity: 1;
  color: #4cd964 !important;
}
.navbar-toggler{
  margin-right: 28px;
}
#navbarNav ul{
  margin-left: 700px !important;
}
#navbarNav ul li{
  margin-right: 40px !important;
}

/*Transparent Navbar  */
.navbarTrans{
  background-color: rgba(0, 0, 0, 0) !important;
}
/* .navbarTrans .navbar-brand{
  font-size: 26px;
}
.navbarTrans .nav-link{
  font-size: 15px;
} */

/* Header */
header {
  padding-top: 90px;
  height: 660px;
  width: 100%;
/*   background: url("banner.jpg");
  background-attachment: fixed;
  background-size: cover; */
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-top: -30px;
}
.intro-overlay{
/*   background-color: rgba(0, 0, 0, 0.644); */
  background: #000;
  margin-top: 10px;
  height: 600px;
  width: inherit;
}
.intro h2{
  color: #fff;
  padding-top: 140px;
  padding-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.intro p{
  text-align: left;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}
.intro form{
  position: relative;
/*   top: 50%; */
  left: 15%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.intro input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.intro .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
.intro form:hover{
    width: 200px;
    cursor: pointer;
}

.intro form:hover input{
    display: block;
}

.intro form:hover .fa{
    background: #4cd964;
    color: white;
}

.intro video{
  height: 580px;
  max-height: 600px;
  width: auto;
  margin-top: 10px;
  display: block;
}
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: -30px;
}

.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}

.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


.desc h2{
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-top: 40px;
}
.htu{
  padding: 0 50px 0 50px; 
  margin-top: 170px;
  margin-bottom: 110px;
  color: #fff;
  text-align: left;
  font-size: 23px;
}
.gs{
  padding-bottom: 60px;
}
.gs h2{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
.gifsp{
  padding-top: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
}
.gifsp h3{
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.gifsplm{
 color: #fff; 
  font-family: "Montserrat", sans-serif;
}
.gifsplm h3{
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: center !important;
  margin-top: -35px;
  position: relative;
}




/* Advice Section */
.advice-sec{
  height: 480px;
  max-height: 750px;
  padding-top: 70px;
  background: hsla(130, 65%, 57%, 1);

  background: hsla(130, 65%, 57%, 1);
  
  background: linear-gradient(315deg, hsla(130, 65%, 57%, 1) 0%, hsla(127, 44%, 43%, 1) 55%, hsla(9, 59%, 7%, 1) 100%);
  
  background: -moz-linear-gradient(315deg, hsla(130, 65%, 57%, 1) 0%, hsla(127, 44%, 43%, 1) 55%, hsla(9, 59%, 7%, 1) 100%);
  
  background: -webkit-linear-gradient(315deg, hsla(130, 65%, 57%, 1) 0%, hsla(127, 44%, 43%, 1) 55%, hsla(9, 59%, 7%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4CD964", endColorstr="#3E9F4A", GradientType=1 );
}
.advice-sec h2{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 5px;
}
.advice-sec p{
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  text-align: center;
}
.advice-sec h4{
  color: #fff;
  border-left: 5px solid #000;
  
  padding-left: 8px;
}
.speech-bubble {
  padding:50px 20px 50px 20px;
  margin-top: 10px;
  font-size: 25px;
  color: #fff !important;
  font-weight: normal;
  position: relative;
  background: #000;
  border-radius: .4em;
}

.speech-bubble:before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #000;
  border-top: 15px solid #000;
  border-bottom: 15px solid transparent;
  left: -15px;
  top: 0px;
}
/* .speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #7c5295;
  border-right: 0;
  margin-top: -20px;
  margin-right: -20px;
} */

#reset{
  background: #fff;
  color: #000;
  margin-top: 15px;
  justify-self: center;
  font-size: 17px;
  padding: 15px;
  outline: none;
  margin-bottom: 20px;
}
#reset:hover{
  color: #4cd964;
}






.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; 
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative; 
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}
.ftco-footer-social li a:hover {
  color: #fff; }

textarea.form-control {
  height: inherit !important; }

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 11px; }
  .tagcloud a:hover {
    border: 1px solid #000; }

.ftco-section {
  padding: 12em 0; }
  .ftco-section h2 {
    margin-bottom: 0; }

footer {
  padding: 7em 0; }

.footer-04 {
  background: #000;
  padding-bottom: 0; }
  .footer-04 .border-top {
    border-color: #1a1a1a !important;
    background: #1a1a1a; }
  .footer-04 .footer-heading {
    font-size: 13px;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; }
    .footer-04 .footer-heading .logo {
      letter-spacing: none;
      font-size: 16px;
      color: #fff;
      text-transform: capitalize; }
  #info li{
    margin-left: -35px;
    margin-bottom: 10px;
  }
  .footer-04 p {
    color: rgba(255, 255, 255, 0.3); 
  }
  .footer-04 a {
    color: #f7b633; }
  .footer-04 .ftco-footer-social li a {
    color: #fff; }
  .footer-04 .tagcloud a {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff; }
  .footer-04 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.7); }
  .footer-04 .list-unstyled a {
    color: rgba(255, 255, 255, 0.7); 
  }
  .footer-04 .ftco-footer-social li a {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
  .footer-04 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; }
    .footer-04 .subscribe-form .form-group input {
      background: rgba(255, 255, 255, 0.05) !important;
      border: none !important;
      outline: none !important;
      color: rgba(255, 255, 255, 0.3) !important;
      font-size: 16px;
      border-radius: 0; }
      .footer-04 .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-04 .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-04 .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-04 .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-04 .subscribe-form .form-group input:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .footer-04 .subscribe-form .form-group .submit {
      color: #fff !important;
      display: block;
      width: 52px;
      height: 52px;
      font-size: 16px;
      background: #f7b633 !important;
      border: none;
      border-radius: 0; }
      .footer-04 .subscribe-form .form-group .submit:hover, .footer-04 .subscribe-form .form-group .submit:focus {
        text-decoration: none !important;
        outline: none !important; }
  .footer-04 .copyright a {
    color: rgba(255, 255, 255, 0.5); }























/*GIFS Page  */
#hdgif{
  background: linear-gradient(-45deg, #000 11%, #4cd964, rgb(153, 51, 255) , #4cd964);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#hdgif h2{
  text-align: center;
  padding-bottom: 25px;
  font-size: 45px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
.main2{
/*   padding-top: 11%; */
}
.mainSearch{
   position: relative;
/*   top: 50%; */
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 700px;
  max-width: auto;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.mainSearch input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.mainSearch .fa{
  background: #4cd964;
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: .9em !important;
  transition: all 1s;
}
.mainSearch:hover{
  width: 700px;
  cursor: pointer;
}

.mainSearch:hover input{
  display: block;
}

.mainSearch:hover .fa{
    background: #4cd964;
    color: white;
}
.main2 a{
  text-align: center !important;
  font-size: 23px !important;
}
.main2 a:hover{
  color: #000 !important;
}
#help{
  display: none;
  height: auto;
  background: #000;
  text-align: center;
  padding-bottom: 90px;
  color: #fff;
}
#help video{
  width: 230px; 
  height: auto;
}
#help h2{
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}
#help h3{
  font-size: 28px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
#help p{
  padding: 0 30px 20px 30px;
}
#closeHelp i{
  font-size: 40px !important;
  float: right;
  padding-top: 50px !important;
  cursor: pointer;
}

#result{
  display: none;
  padding-top: 50px;
}
#result h3{
  font-size: 29px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: #fff;
  margin-top: 50px;
}
#searchVal{
  color: #4cd964;
  font-style: italic;
  font-size: 25px
  text-transform: lowercase;
}
#bodyy{
  background: #fff;
  border-radius: 10px;
  margin-top: 30px
/*   align-items: center;
  justify-content: center; */
}











/*About Page  */
.abthd{
  height: 100vh;
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
}
.abthd h2{
  color: #fff;
  padding-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.abthd h3{}
.subheading {
  margin-top: 150px;
  font-weight: 700;
  color: #000;
  font-size: 13px;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 5px;
  position: relative;
  z-index: 0;
  background: #4cd964;
  border-radius: 4px;
  padding: 4px 9px;
}
.navbarTrans{
  position: absolute !important;
}
.subheading:after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #4cd964 transparent transparent transparent;
}
#profile{
  padding: 120px 0 120px 0;
}
image-aright
/*   float: right; */
}
.image-about:before {
    position: absolute;
    bottom: 130px;
    left: -30px;
    width: 100%;
    height: 100px;
    content: '';
    background: #f2f2f2;
    background: #4cd964;
    z-index: -1;
}
.image-about:after {
    position: absolute;
    bottom: 30px;
    left: -30px;
    width: 100%;
    height: 100px;
    content: '';
    background: #f2f2f2;
    background: #215f2b;
    z-index: -1;
}
.hire{
  padding: 1rem;
    border: 1px solid #0779e4 !important;
  color: #fff !important;
  background-color: #0779e4 !important;
  
    cursor: pointer;
    border-radius: 4px;
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  margin-right: 20px;
}
.bmac{
  padding: 1rem;
    border: 1px solid #fff !important;
  color: #000 !important;
  background-color: #fff !important;
  
    cursor: pointer;
    border-radius: 4px;
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.abtwhy h2{
  color: #fff;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.abtwhy p{
  color: #fff;
  padding-bottom: 15px;
  line-height: 30px;
  font-size: 19px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
#fav h2{
  color: #fff;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}